   
<div class="menu-blogging menu-footer">
    <h4 class="menu-item-title" data-label="lifestream">Fitness</h4>
    <hr>
    <ul>
      <li><%= link_to 'Workouts', workouts_path, class:"menu-item-link", role:"link", "data-label" => "See Workouts!" %></li>  
      <li><%= link_to 'New workouts', new_workout_path, class:"menu-item-link", role:"link", "data-label" => "Create Workout!" %></li>
    </ul>
    <hr>
</div>

<p>Have a great day :) <br><small>thanks for the visit</small></p>

 



  
  
 


