<div class="top">
  <h1><%= link_to 'About', root_path, role:'link' %></h1>
</div>

<p>For now just a few words about me. I'm 47 years old as of writing this ! Father of two, a girl and a boy. I've been teaching martial arts and CrossFit for over 15 years now. And I just sold my CrossFit box after 10 years !</p>

<p>I have been into web development for more than 25 years but never professionally. I have made about 10 to 15 websites. But I have redesigned them about a 100 times !</p>