<div class="top">
  <h1>
  <%= link_to 'Workout', root_path, role:'link' %></h1>
</div>

<p>If you want to understand the logic or even try to do come up with your own version here is an <a href="/my-training-program/">explanation of my program</a> / ou en <a href="/mon-plan-dentrainement/">Français</a>. I also created a <a href="/run#last">running log</a> and you can also go through my <a href="/personal-best">Personal Records</a> If you wish.</p>
<div class="wod-list">

     
        <div class="wod-day">
          <h1 class="wod-date"><a href="" role="link">Titre</a></h1>
            <div id="workouts">
                
            </div>
         
        </div>
     
</div>
